@(elements: views.html.helper.FieldElements)

@import views.html.helper._

<div class="form-group @if(elements.hasErrors) {error}">
    <div class="col-sm-offset-4 col-sm-8">
    <div class="checkbox">
		<label>
        @elements.input
        @elements.label
        @if(elements.hasErrors) {
          <span class="help-inline">@elements.errors.mkString(", ")</span>
        } else {
          <span class="help-inline">@elements.infos.mkString(", ")</span>
        }
        </label>
    </div>
    </div>
</div>