/* The dark background behind the dialogs */

.dialog-overlay{
    display: none;
    position: fixed;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);

    z-index: 10;
}

/* The dialogs themselves */

.dialog-card{
    box-sizing: border-box;
    width: 570px;
    position: absolute;
    left: 50%;
    margin-left: -285px;
    top: 30%;

    font: bold 14px sans-serif;

    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.12);
    padding: 45px 50px;
}

.dialog-card .dialog-question-sign{
    float: left;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    color:  #ffffff;
    text-align: center;
    line-height: 68px;
    font-size: 40px;
    margin-right: 50px;
    background-color:  #b4d8f3;
}

.dialog-card .dialog-info{
    float: left;
    max-width: 350px;
}

.dialog-card h5{	/* Dialog title */
    color:  #383c3e;
    font-size: 24px;
    margin: 5px 0 30px;
}

.dialog-card p{		/* Dialog text */
    color:  #595d60;
    font-weight: normal;
    line-height: 21px;

    margin: 30px 0;
}

.dialog-card .dialog-confirm-button,
.dialog-card .dialog-reject-button{
    font-weight: inherit;
    box-sizing: border-box;
    color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    padding: 12px 40px;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.dialog-card .dialog-confirm-button{
    /*background-color:  #87bae1;*/
    margin-right: 12px;
}

.dialog-card .dialog-reject-button{
    /*background-color:  #e4749e;*/
}

.dialog-card button:hover{
    opacity:0.96;
}

.dialog-card button:active{
    position:relative;
    bottom:-1px;
}


@media (max-width: 600px) {

    .dialog-card{
        width: 350px;
        margin-left: -175px;
        margin-top: -200px;
        text-align: center;

        padding: 45px 50px;
    }

    .dialog-card .dialog-question-sign{
        margin: 0 auto 25px;
    }

    .dialog-card .dialog-question-sign,
    .dialog-card .dialog-info{
        float: none;
    }

    .dialog-card p{
        text-align: left;
    }

    .dialog-card .dialog-confirm-button{
        float: left;
    }

    .dialog-card .dialog-reject-button{
        float: right;
    }
}

/* If you don't want the dialog to be responsive, remove this media query */

@media (max-width: 400px) {

    .dialog-card{
        width: 250px;
        margin-left: -125px;

        padding: 25px 30px;
    }

    .dialog-card .dialog-confirm-button,
    .dialog-card .dialog-reject-button{
        padding: 12px 32px;
    }

}
