@(flexs: List[Flexible])

@stylesheets = {
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap-table/bootstrap-table.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/spectrum.css")">
}
 
@javascripts = { 
<script src="@routes.Assets.versioned("lib/bootstrap-table/bootstrap-table.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/lib/bootstrap-table-fr-FR.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/lib/spectrum.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/flex.js")" type="text/javascript"></script>       
}

@main("Liste des flexibles", stylesheets, javascripts){
	
	@list(flexs)
}